// THEME CSS

html,
body{
	color: #43458B;
	background-color: #F6F9FC;
}
.toolbar-btns{
	margin-left: 10px;
}
.sidebar{
	width 300px;
	background-color: #F6F9FC;
}
.sidebar .logo{
	padding: 10px;
	padding-top: 15px;
	padding-left: 20px;
    height: 50px;
    text-align: left;
    border-radius: 0;
    font-weight: 500;
    background-color: #43458B;
    color: #fff;
}
.sidebar .sidebar-list{
	-webkit-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5);
	box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5);
}

//OTHERS
.q-layout-page{
	-webkit-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5);
	box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5);
}
.q-btn .q-icon, 
.q-btn .q-spinner
	font-size 1em

.q-toolbar
	padding-left 15px
	padding-right 15px

.row-input
	margin-bottom 10px