@import '~variables'
html,
body
	color: $fontCLR
.toolbar-btns
	margin-left: 10px
.sidebar
	width 250px
	background-color: $secondBG
	color: $fontSCD
.sidebar .text-primary 
	color: $fontSCD !important
.sidebar .q-item-letter,
.sidebar .q-item-icon
	font-size:24px;
.sidebar .q-list-link > .q-item:hover
	background-color: $secondBGHVR
.sidebar .logo
	padding: 10px
	padding-top: 15px
	padding-left: 20px
	height: 50px
	text-align: left
	border-radius: 0
	font-weight: 500
	background-color: $primary
	color: $fontINV
.sidebar .sidebar-list	
	-webkit-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5)
	-moz-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5)
	box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5)
.q-layout-page	
	-webkit-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5)	
	-moz-box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5)
	box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.5)
	background-color: $thirdBG
.q-btn .q-icon, 
.q-btn .q-spinner
	font-size 1em
.q-icon, 
.q-icon.material-icons
	vertical-align: baseline
.q-toolbar
	padding-left 15px
	padding-right 15px
.row-input
	margin-bottom 10px
.row-input-header
	margin-bottom 20px
.form-modal .body
	margin: 1rem 2rem
.form-modal .body .col .row-input .q-input,
.form-modal .body .col .row-input .q-select
	margin-right: 20px
.form-modal .body .col:last-child .row-input .q-input,
.form-modal .body .col:last-child .row-input .q-select
	margin-right: 0
.form-modal .q-layout-header .q-toolbar .close
	position: absolute
	right: 10px 
.form-modal .q-layout-footer .q-toolbar .footer-btns 
	width: 100%
	text-align: right
/* PAGE BAR */
	.page-bar
		position: relative
		background-color:#fff
		width: 100%
		height: 50px
		padding: 0
	.page-bar div.blocks
		height: 50px
		padding: 13px 10px 
		border-left: 1px solid #CCCCCC 
		border-right: 1px solid #CCCCCC
	.page-bar div.blocks:first-child
		border-left: 0
	.page-bar div.blocks:last-child
		border-right: 0
	.page-bar div.blocks div
		height: auto
		padding-top: 0
		padding-left: 0 
		padding-right: 0
		border-left: 0 
		border-right: 0
	.page-bar .title,
	.page-bar .subtitle
		position: relative
		display: inline-block
		width: auto;
		max-width: 150px
		margin: 0 
		font-weight : 500
		font-size : 18px
		border: 0 !important
	.page-bar .title .q-icon
		display: inline-block
		font-size: 20px
		margin-right : 5px
		margin-top : -5px
	.page-bar .subtitle
		max-width: none
		font-size: 12px
	.page-bar .blocks.subtitle
		padding: 0
		height: auto
	.page-bar .subtitle:before
		content: "/"
		margin-right: 8px;
	.page-bar .tools
		display: inline-block
		width: auto;
		padding: 0
		margin: 0
		float:right 
	.page-bar .tools .q-btn
		padding: 18px 15px 18px 15px
		border-left: 1px solid #CCCCCC 
		border-right: 0
		font-size: 12px 
	.page-bar .tools .q-btn .q-icon
		font-size: 14px
	.page-bar .tools .q-btn:last-child
		border-right: 0 
/* PAGE FORM */
	.page-form
		position: relative
		margin:0 auto 
		margin-top: 20px
		max-width: 1280px
	.page-form .q-card
		background-color: #FFFFFF
	.page-form .q-card .q-card-container
		padding: 0
	.page-form .q-card .q-card-main.q-card-container
		padding: 15px
	.page-form .q-card .q-card-title
		padding: 10px 15px
		height: 50px
	.page-form .head
		margin-bottom: 20px
	.page-form .head .q-field .q-input
		max-width: 550px
	.page-form .body
		padding: 20px 0px
	.page-form .body .title
		font-size: $formFontTitleSize
		margin: 0 0 20px 0
		font-weight: 500
	.page-form .body .q-field
		margin-bottom: 15px
	.page-form .body .q-field .q-input .q-icon
		font-size: 18px
/* LIST VIEW */
	.list-view .q-table-container .q-table th
		background-color: $secondary
		color: $pageBarCLR
/* PAGE PROFILE */
	.page-profile 
		font-size: $formFontNormalSize
	.page-profile .head
		display: block
		position: relative
		width: 100%
		min-height: 80px
		padding: 10px
		color: $fontMainCLR
	.page-profile .head .logo
		display: block
		height: 70px
		float: left
	.page-profile .head .logo img
		height: 70px
		border-radius: 100%
	.page-profile .head .main-details
		display: block
		min-height: 70px
		padding-left: 90px
		padding-top: 15px
	.page-profile .head .main-details .title
		display: block
		font-weight: 500
		font-size: $formFontTitleSize
	.page-profile .head .main-details .subtitle
		display: block
		color: $fontSCD
		font-size: $formFontSubitleSize
	.page-profile .body .q-tabs .q-tabs-head
		min-height: 30px
		background-color: #FFFFFF !important
		padding: 0 
		color: $secondary !important
		border-top: 1px solid $secondary
		border-bottom: 1px solid $secondary
	.page-profile .body .q-tabs .q-tab-pane
		margin: 10px
	.page-profile .body .q-tabs .q-tab
		font-size: 0.8em
		min-height: 25px
	.page-profile .body .q-tabs .q-tab.active
		background-color: $secondary !important
		color: #FFFFFF !important
	.page-profile .body .q-tabs .q-tab.active .q-tabs-bar
		border: 0
	.page-profile .page-form
		margin: 0
/* PAGE PROFILE */